<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <rewrite>
            <rules>
                <clear />
                <rule name="index" stopProcessing="true">
                    <match url="^[0-9a-z]*[/]?$|^advanced/frontend[/]?$|^advanced/frontend/web$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/advanced/frontend/web/" />
                </rule>
                <rule name="goBackend" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^admin[/]?$|^advanced/backend[/]?$|^advanced/backend/web$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="advanced/backend/web/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
