html,
body {
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.navbar{
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: black;
    color: #CCC;
}

.navbar h1{
    margin: 0 30px;
    float: left;
    font-size: 1em;
}

.navbar .nav{
    margin: 0 30px;
    float: right;
    list-style: none;
}

.navbar .nav li{
    float: left;
    padding: 0 15px;
    font-family: "微软雅黑";
    font-size: 0.9em;
}

.navbar .nav li a{
    color: #CCC;
}

.navbar .nav li a:hover{
    color: white;
}



.wrap {
    clear: both;
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}


.wrap > .container {
    padding: 0;
}


/*begin .footer*/
.footer {
    width: 100%;
    height: 25px;
    background-color: #f5f5f5;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    position: fixed;
    bottom: -0px;
}
/*end .footer*/



.title-fnt{
    font-family: "微软雅黑";
    margin: 30px 0px 2px 30px;
    font-size: 1em;
}

.title-hr{
    margin: 0;
}

.jumbotron {

    margin: 15px 30px;
    padding: 10px 0px 20px 0px;
    text-align: center;
    background-color: lightyellow;
}

.jumbotron .btn {
    font-family: "微软雅黑";
    font-size: 21px;
    padding: 14px 24px;
    background-color: green;
    color: white;
}

.jumbotron .btn:hover{
    color: orange;
}

.row .col{
    
    width: 45%;
    margin: 30px 30px 0px;
    padding: 15px;
    background-color: lightblue;
    float: left;

}

.row img{
    width: 80px;
    height: 80px;
    float: left;
}

.row p{
    padding-left: 10px;
    max-height: 300px;
    overflow: hidden;
}

/*begin .deputy*/
.deputy{

    background-color: #E0E7F1;
    font-size: 0.8em;
    padding: 0;
    line-height: 25px;
    height: 25px;
    font-family:"黑体"; /* IE8 only */
}

.deputy .breadcrumbs{
clear: both;
    float: left;
}

.deputy .breadcrumbs ul{
    margin: 0;
    list-style: none;
}

.deputy .breadcrumbs ul li{
    float: left;
}

.deputy  .breadcrumb > li + li:before {
    content: "/ ";
    padding: 0 5px;
}

.deputy .breadcrumbs a{
    text-decoration: none;
}

.deputy .login-msg{
    float: right;
}

#notice{
    margin: 0px 50px;
    float: right;
    overflow: hidden;
    white-space:nowrap;
}


/*end .deputy*/


/*fnt-btn */
#section-bar {

    height: 18px;
    padding: 5px 0 5px;
    background-color: #E7E5E1;
}

#section-bar ul{
    margin: 0;
}

.fnt-ul li {   
    float: left;
    margin-right: 12px;
    padding: 1px 2px;
    list-style: none;
    line-height: 18px;
    height: 18px;
    text-align: left;
    font-size: 0.8em;
}
.fnt-ul li select{
    
}

.fnt-ul .fnt{
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: left;
    border: 1px solid #E7E5E1;
    cursor:pointer;
}

.fnt-ul li:hover{
    border-color: blue;
    background-color: #C0C0C0;
}

.fnt-ul .fnt.active{
    border-color: blue;
    background-color: #C0C0C0;
}

.fnt.ico-refesh{
    background-image:url(../images/ico/retrieve.gif);   
}

.fnt.ico-import{
    background-image: url(../images/ico/sort.gif);
}

.fnt.ico-register{
    background-image: url(../images/ico/sort.gif);
}


.fnt.ico-add{
    background-image: url(../images/ico/addrow.gif);
}

.fnt.ico-edit{
    background-image: url(../images/ico/new.gif);
}

.fnt.ico-del{
    background-image: url(../images/ico/delrow.gif);
}

.fnt.ico-save-as{
    background-image: url(../images/ico/EXCEL.gif);
}

.fnt.ico-print{
    background-image: url(../images/ico/print.gif);
}

.fnt.ico-search{
    background-image: url(../images/ico/find.gif);
}

.fnt.ico-exit{
    background-image: url(../images/ico/exit.gif);
    float: right;
}
.fnt.ico-save{
    background-image: url(../images/ico/save.gif);
 
}
/*end fnt-btn*/




.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}
.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

#myTable{
    width: 100%;
}

#myTable tr th{
    white-space: nowrap;
    color: black; 
    background:#d3dcea;
    width:60px;
    line-height:40px; 
    padding:0 10px 0 10px;   
    font-size:14px;
}
#myTable  tr td{ width:100px; font-size:12px; border-bottom:1px solid #cacaca; border-right:1px solid #cacaca; line-height:25px; overflow:hidden; white-space: nowrap;text-overflow:ellipsis; padding:0 5px 0 5px; background:#f8fbff;}
#myTable  tr td input{
    height:26px; float:left; text-indent:1em; width:100%;
}
#import{

    width: 100%;
    background-color: white;
}
#import input{ margin:10px 8px 10px 8px;}
#import input[type=submit]{ background:url(../images/script_btn.png) no-repeat; width:40px; height:20px; border:none; cursor:pointer;}

#import select{ margin:10px 0 10px 0px;}
#import table{

    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
    
}

#import table tr th{
    white-space: nowrap;
}

/*增加弹窗*/
.tablelist{ width:100%; border:1px solid #cacaca; border-bottom:none;}
.tablelist td{ border:1px solid #cacaca; line-height:28px; border-right:none; border-top:none;}

.tablelist td select{ width:100%; border:none; height:22px; float:left; text-indent:1em;}
.tablelist td label{ font-size:14px; float:left;background:#ddecfb; width:100%; height:100%; display:block; text-align:center;}
.tablelist td input{  height:26px; float:left; border:none;text-indent:1em; width:100%;}
.tablelist td textarea{ width:99%; height:50px; resize:none; border:none;}

.tablelist td{position: relative;}
.tablelist td .has-error label{color:red;}
.tablelist td .has-error input{background-color:#E29494 }

.tablelist td .has-error .help-block {position: absolute; top:0px; right:-0px; color:#773B39; font-size:10px;}

.pagination li{float: left; padding: 0px 5px; margin: 0px 3px; background-color: lightblue;}
.pagination .active a{color:red;}
