#tree{
    padding: 10px;
    font-size: 0.8em;
}

#tree li {
    list-style: none; 
}

#tree li > ul {
    display: none;
}

#tree .open{
    display: block;
}

#tree li > a{
    color: black;
    text-decoration: none;
}

#tree li > a:hover{
    color: blue;
    text-decoration: underline;
}

/*#tree li > a:visited{
    color: red;
    text-decoration: underline;
}*/

#tree  li{
    margin-left: 6px;
    padding-left: 20px;
    line-height: 24px;
    border-left: 2px solid black;
    background-repeat: no-repeat;
    background-image: url(images/tree-line.png);
}

#tree .folder{
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: left;
    cursor:pointer;
    background-image: url(images/add.png);
}

#tree .folder.end{
    background-image: url(images/end.png);
}
